body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0.3em;
  padding: 0.3em;
  line-height: 1.6;
}

main {
  background-color: lightgray;
  max-width: 75%;
  margin: auto;
  padding: 1em;
}

header,
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  color: #444;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1em;
}

a {
  color: darkblue;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

a:hover {
  border-bottom: 1px solid #007bff;
}

.site-header img {
  max-width: 80px;
  margin-bottom: 0.5em;
}

.department {
  background-color: #ffffff;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border-radius: 6px;
}

.employee-list {
  list-style-type: disc;
  padding-left: 1.5em;
}

.employee-list li {
  margin: 0.3em 0;
}


footer {
  position: fixed;
  bottom: 0;
  right: 1em;
  font-size: 0.9em;
  color: #555;
}
